@page
@model MiszMasz.Pages.Recipes.CookbookModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="get">
        <div>
            <input type="text" name="search" value="@HttpContext.Request.Query["search"]" />
        </div>
        <div>
            @{ var orderBy = @HttpContext.Request.Query["orderBy"]; }
            <select name="orderBy" value="@orderBy">
                <optgroup label="Polubienia">
                    <option value="LikesDesc" selected="@(orderBy=="LikesDesc")">Polubienia - Malejąco</option>
                    <option value="LikesAsc" selected="@(orderBy=="LikesAsc")">Polubienia - Rosnąco</option>
                </optgroup>
                <optgroup label="Nazwa">
                    <option value="NameDesc" selected="@(orderBy=="NameDesc")">Nazwa - Malejąco</option>
                    <option value="NameAsc" selected="@(orderBy=="NameAsc")">Nazwa - Rosnąco</option>
                </optgroup>
                <optgroup label="Autor">
                    <option value="AuthorDesc" selected="@(orderBy=="AuthorDesc")">Autor - Malejąco</option>
                    <option value="AuthorAsc" selected="@(orderBy=="AuthorAsc")">Autor - Rosnąco</option>
                </optgroup>
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table recipes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Likes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
        </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/css/recipes.css" />