@page
@model MiszMasz.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="recipe-details">

    <h1 class="recipe-details-title">
        @Html.DisplayFor(model => model.Recipe.Name)
    </h1>
    <h2 class="recipe-details-author">
        Autor: @Html.DisplayFor(model => model.Recipe.Author.Name)
    </h2>
    @if ((bool)ViewData["IsAuthorized"])
    {
    <div class="approve-forms">
        <form asp-page-handler="like" method="post">
            <input type="hidden" name="recipeId" value="@Model.Recipe.Id" />
            <button type="submit">
                @if ((bool)ViewData["IsLiked"])
                {
                    <img src="~/img/like_2.png" />
                }
                else
                {
                    <img src="~/img/like_1.png" />
                }
            </button>
            <span>@Html.DisplayFor(model => model.Recipe.Likes) </span>
        </form>
        <form asp-page-handler="cookbook" method="post">
            <input type="hidden" name="recipeId" value="@Model.Recipe.Id" />
            <button type="submit">
                @if ((bool)ViewData["IsAdded"])
                {
                    <img src="~/img/add_2.png" />
                }
                else
                {
                    <img src="~/img/add_1.png" />
                }
            </button>
            <span>Książka kucharska </span>
        </form>
    </div>
    }
    else
    {
    <div class="approve-forms">
        <img src="~/img/like_2.png" />
        <span>@Html.DisplayFor(model => model.Recipe.Likes) </span>
    </div>
    }
    <div class="recipe-details-description">
        <h2>Opis</h2>
        @Html.DisplayFor(model => model.Recipe.Description)
    </div>
    <div class="comments">
        <h2>Komentarze: </h2>
        @if ((bool)ViewData["IsAuthorized"])
        {
        <div>
            <form asp-page-handler="comment" class="comment-form" method="post">
                <input type="hidden" name="recipeId" value="@Model.Recipe.Id"  />
                <textarea type="text" name="comment" class="comment-input" ></textarea>
                <input type="submit" class="comment-button" value="Komentuj" />
            </form>
        </div>
        }
        <div>
            @foreach (var item in Model.Recipe.Comments)
            {
                <div class="comment">
                    <div class="comment-author"> @item.Author.Name </div>
                    <div> @item.Text </div>
                </div>
            }
        </div>
    </div>

</div>

<link rel="stylesheet" href="~/css/recipes.css" />