@page
@model MiszMasz.Pages.Recipes.MyRecipesModel
@{
    ViewData["Title"] = "Moje przepisy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="create-recipe">
    <a asp-page="Create">Nowy przepis</a>
</div>
 
<div class="recipes">
    @foreach (var item in Model.Recipe)
    {
        <div class="recipe">
            <div class="recipe-title">
                <a asp-page="./Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </div>
            <div class="recipe-author">
                Autor: @Html.DisplayFor(modelItem => item.Author.Name)
            </div>
            <div class="recipe-description">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="recipe-manage">
                <a asp-page="./Edit" asp-route-id="@item.Id"> Edytuj </a>
                <a asp-page="./Delete" asp-route-id="@item.Id"> Usuń </a>
            </div>
            <div class="recipe-like">
                <img src="~/img/like_2.png">
                @Html.DisplayFor(modelItem => item.Likes)
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/recipes.css" />